.latar {
    margin-top: 100px;

}

body {
    background-color: rgb(53, 129, 127);
}

td p a {
    border: 2px solid rgb(225, 228, 229);
    margin-top: 50px;
    margin-left: 35px;
    font-size: large;

}

p {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: x-large;
}



